

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins, sans-serif;
}

.boxItem {
    flex: 1;
    border: 0.02px solid gray;
    box-sizing: border-box;
}

.rowItem {
    display: flex;
    flex:1 1 auto;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

#userConsole {
    display: flex;
    align-items: center;
    flex-direction: column ;
}

#alertUserContainer {
    background-color: gainsboro;
    min-height: 100px;
    width: 500px;
    margin: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#clearGridButton {
    margin-bottom: 20px;
}

#webhighlights-notifications {
    display:none;
}

button, input {
    font-family: poppins;
}